body {
    margin: 0;
    padding: 0;
    font: 15px Tahoma, Arial;
    color: grey;
    background-color: WhiteSmoke;
}

#sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 150px;
    cursor: default;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.sidebar-item {
    padding: 5px;
}

.sidebar-item:hover {
    color: WhiteSmoke;
    background-color: grey;
}

#content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 160px;
    right: 0;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

td, th {
    padding-left: 4px;
    padding-right: 4px;
}
