<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" sizes="16x16" type="image/x-icon" href="/favicon.ico">
    <meta charset="UTF-8">
    <title>IDE8 Agent Download</title>
    <style type="text/css">
        body {
            font: 15px Tahoma, Arial;
        }

        #root {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
        }

        #dialog {
            margin: 5% auto 15% auto;
            width: 600px;
        }

    </style>
</head>
<body>
<div id="root">
    <div id="dialog">
        {{.}}
        <br>
        Please see this guide on setting up the agent:<br>
        <a href="http://forum.ide8.io/t/how-to-set-up-your-development-board/">How to set up your development board</a>
    </div>
</div>
</body>
</html>
