<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" sizes="16x16" type="image/x-icon" href="/favicon.ico">
    <meta charset="UTF-8">
    <title>IDE8 Assign Agent</title>
</head>
<body>
<div id="root"></div>
<script>
const query = new URLSearchParams(window.location.search);
const port = query.get('port');
const token = encodeURIComponent(query.get('token'));
const root = document.getElementById('root');
root.innerHTML = `
<form name="formname" action="http://localhost:${port}/user?token=${token}" method="post">
    <input name="user" value="{{ .username }}" hidden="true">
    <input type="submit" value="Click to assign your IDE8 agent to user {{ .username }}">
</form>`;
</script>
</body>
</html>
