.boards {
    position: fixed;
    bottom: 5px;
    left: 0;
    top: 0;
    z-index: 20;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.boards-close {
    position: absolute;
    bottom: 0;
    left: 5px;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    background-color: white;
    border: solid 1px #cfcfcf;
    border-right: none;
    font-weight: bold;
}

.boards-close.boards-close-shadow {
    box-shadow: 5px -5px 5px #888888;
}

.boards-item {
    position: absolute;
    width: 200px;
    height: 170px;
    background-color: white;
    border: solid 1px #cfcfcf;
    box-shadow: 5px -5px 5px #888888;
}

.boards-item-logo {
    position: absolute;
    top: 5px;
    left: 0;
    width: 35px;
    height: 35px;
    margin: 5px;
}

.boards-item-title {
    position: absolute;
    top: 0;
    left: 55px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

.boards-item-info {
    position: absolute;
    top: 55px;
    margin: 0 10px 10px;
    font-size: 12px;
    height: 50px;
    overflow: hidden;
    text-align: left;
}

.boards-item-select {
    position: absolute;
    font-size: 13px;
    color: black;
    background-color: green;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    top: 90px;
    left: 55px;
    width: 100px;
    height: 30px;
    margin-top: 10px;
    border-radius: 20px;
    border: solid 1px #cfcfcf;
}

.boards-item-select-free {
    color: black;
    background-color: green;
}

.boards-item-select-free:hover {
    color: green;
    background-color: black;
}

.boards-item-select-mine {
    color: black;
    background-color: yellow;
}

.boards-item-select-mine:hover {
    color: yellow;
    background-color: black;
}

.boards-item-select-other {
    color: black;
    background-color: red;
}

.boards-item-owner {
    position: absolute;
    top: 140px;
    margin: 0 10px 10px;
    font-size: 12px;
    height: 20px;
    overflow: hidden;
    text-align: left;
}
