.contextmenu {
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 50;
}

.contextmenu-item {
    padding: 5px;
    margin: 2px;
    text-decoration: none;
    display: block;
    cursor: default;
}

.contextmenu-item>a {
    color: grey;
    text-decoration: none;
}

.contextmenu-item:hover {
    background-color: #dddddd;
}

.contextmenu-item-disable {
    color: grey;
}
