.dashboard {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    z-index: 20;
}

.dashboard-item {
    width: 50px;
    min-width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    overflow: hidden;
    white-space: nowrap;
}

.dashboard-item img {
    display: block;
    padding-top: 5px;
    padding-left: 12px;
    height: 25px;
    width: 25px;
}

.dashboard-item:not(.selected):hover {
    background-color: lightgrey;
    border-radius: 3px;
}

.dashboard-item:hover {
    overflow: visible;
    display: inline-block;
    width: auto;
}

.dashboard-item.selected {
    left: 1px;
    background-color: white;
    border:solid 1px #cfcfcf;
    border-right: none;
    width: 55px;
}
