<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" sizes="16x16" type="image/x-icon" href="/favicon.ico">
    <meta charset="UTF-8">
    <title>IDE8 Login</title>
    <style type="text/css">
        body {
            font: 15px Tahoma, Arial;
        }
        #root {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
        }
        #dialog {
            margin: 5% auto 15% auto;
            width: 300px;
        }
        .message {
            color: red;
            font-weight: bold;
        }
        input {
            width:  100%;
            margin: 8px 0;
            box-sizing: border-box;
        }
    </style>
</head>
<body>
    <div id="root">
        <div id="dialog">
            <a href="{{ .githubquery }}">Login with github</a>
            <br>
            <br>
            <a href="{{ .bitbucketquery }}">Login with bitbucket</a>
            <br>
            <br>
            <br>
            <b>Or with username password:</b>
            <br>
            <form action="/login{{ .query }}" method="POST">
                <div class="message">{{ .message }}</div>
                <br>
                <label><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username" required autofocus>
                <label><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
</body>
</html>
