.menu {
    padding: 5px;
    overflow: hidden;
}

.menu-icon {
    width: 25px;
    height: 25px;
}

.menu-icon-frame {
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    line-height: 25px;
    padding-left: 15px;
}

.menu-title {
    cursor: pointer;
    display: inline-block;
    width: 200px;
    height: 25px;
    vertical-align: middle;
    line-height: 25px;
    padding-left: 30px;
    font-weight: bold;
    font-size: 20px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.menu-title:hover {
    color: black;
    background-color: silver;
}

.menu-item {
    display: inline-block;
    min-width: 50px;
    height: 25px;
    vertical-align: middle;
    line-height: 25px;
    padding-left: 10px;
}

.menu-status {
    display: inline-block;
    padding-left: 100px;
}

.menu-dropdown {
    padding-left: 10px;
    font-size: 15px;
}

.menu-right {
    white-space: nowrap;
    float: right;
}

.menu-user {
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.menu-username {
    padding-left: 25px;
    padding-top: 5px;
    display: inline-block;
    vertical-align: top;
}
