body {
    margin: 0;
    padding: 0;
    font: 15px Tahoma, Arial;
    color: grey;
    background-color: WhiteSmoke;
}

div {
    margin-left: 20px;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}
