<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" sizes="16x16" type="image/x-icon" href="/favicon.ico">
    <meta charset="UTF-8">
    <title>IDE8 Create Workspace from repository</title>
    <style type="text/css">
        body {
            font: 15px Tahoma, Arial;
        }
        #root {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
        }
        #dialog {
            margin: 5% auto 15% auto;
            width: 300px;
        }
        .message {
            font-weight: bold;
        }
        .error {
            color: red;
            font-weight: bold;
        }
        input {
            width:  100%;
            margin: 8px 0;
            box-sizing: border-box;
        }
    </style>
</head>
<body>
    <div id="root">
        <div id="dialog">
            <form id="form">
                <div class="message"></div>
                <div class="error"></div>
                <input id="wsname" type="text" placeholder="Enter Workspace Name" required autofocus>
                <button type="submit">Create</button>
            </form>
        </div>
    </div>
<script>
    const query = new URLSearchParams(window.location.search);
    const repo = query.get('repo');
    const message = document.getElementsByClassName('message')[0];
    message.innerHTML = 'Clone the following repo into a new workspace: ' + repo + '<br><br>Using stack: {{.stack}}';
    const form = document.getElementById('form');
    const wsname = document.getElementById('wsname');
    const error = document.getElementsByClassName('error')[0];
    form.onsubmit = evt => {
        evt.preventDefault();
        const data = JSON.stringify({name: wsname.value.trim(), stack: {{ .stack}}, clonerepo: repo});
        fetch('/_workspaces/', {method: 'POST', body: data, credentials: 'include'})
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    }
                    return response.text();
                })
                .then(response => {
                    if (typeof response === 'string') {
                        console.log('resp: ' + response);
                        throw response;
                    }
                    window.location = '/login';
                })
                .catch(errmsg => {
                    console.log('err: ' + errmsg);
                    error.innerHTML = '<br>Failed to create workspace: ' + errmsg;
                })
    };
</script>
</body>
</html>
