<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" sizes="16x16" type="image/x-icon" href="/favicon.ico">
    <meta charset="UTF-8">
    <title>IDE8 Sign up</title>
    <style type="text/css">
        body {
            font: 15px Tahoma, Arial;
        }

        #root {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
        }

        #dialog {
            margin: 5% auto 15% auto;
            width: 300px;
        }

        form>div,button {
            margin-top: 8px;
        }

        input {
            width:  100%;
            box-sizing: border-box;
        }

        .notes {
            color: gray;
            font-size: 12px;
        }
    </style>
</head>
<body>
    <div id="root">
        <div id="dialog">
            <form action="/signup/{{ .query }}" method="POST">
                <b>Please verify details:</b>
                <br>
                <br>
                <div>
                    <label><b>Full name</b></label>
                    <input type="text" placeholder="Enter Full Name" name="fullname" value="{{ .fullname }}" required autofocus>
                </div>
                <div>
                    <label><b>Email</b></label>
                    <input type="text" placeholder="Enter email" name="email" value="{{ .email }}" required>
                </div>
                <div>
                    <label><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="username" value="{{ .username }}" required>
                    <div class="notes">Between 2-15 characters long</div>
                    <div class="notes">Alphanumeric characters pluss _ . -</div>
                </div>
                <input type="hidden" name="remoteuser" value="{{ .remoteuser }}">
                <button type="submit">Register</button>
                <div class="notes">
                    By clicking register you agree to IDE8 <a href="/terms.html" target="_blank">terms of services</a>
                    and <a href="/privacy.html" target="_blank">privacy policy</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
