.stacks {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.stacks-close {
    position: absolute;
    top: 35px;
    left: 5px;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    background-color: white;
    border: solid 1px #cfcfcf;
    border-right: none;
    font-weight: bold;
}

.stacks-close.stacks-close-shadow {
    box-shadow: 5px 5px 5px #888888;
}

.stacks-item {
    position: absolute;
    width: 200px;
    height: 170px;
    background-color: white;
    border: solid 1px #cfcfcf;
    box-shadow: 5px 5px 5px #888888;
}

.stacks-item:hover {
    background-color: #cfcfcf;
}

.stacks-item-logo {
    position: absolute;
    top: 5px;
    left: 0;
    width: 35px;
    height: 35px;
    margin: 5px;
}

.stacks-item-title {
    position: absolute;
    top: 0;
    left: 55px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

.stacks-item-info {
    position: absolute;
    top: 55px;
    margin: 0 10px 10px;
    font-size: 12px;
    height: 50px;
    overflow: hidden;
    text-align: left;
}

.stacks-item-skills {
    position: absolute;
    top: 110px;
    margin: 0 10px 10px;
    font-size: 12px;
    height: 50px;
    overflow: hidden;
    text-align: left;
}

.stacks-item-skills a:nth-child(1) {
    font-size: 20px;
    line-height: 12px
}

.stacks-item-ratings {
    position: absolute;
    top: 25px;
    left: 55px;
    margin-top: 10px;
    font-size: 13px;
}

.stacks-navigate {
    font-size: 10px;
    position: absolute;
    height: 30px;
    background-color: WhiteSmoke;
    border: solid 1px #cfcfcf;
    border-top: none;
    box-shadow: 5px 5px 5px #888888;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}
