.starting {
    height: calc(100% - 1px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: White;
    border-top: solid 1px #cfcfcf;
    border-left: solid 1px #cfcfcf;
}
