body {
    margin: 0;
    padding: 0;
    font: 15px Tahoma, Arial;
    color: grey;
    background-color: WhiteSmoke;
}

#menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 25px;
    padding: 5px; /* Adds up on height */
}

#download {
    color: inherit;
    text-decoration: none;
}

#download span {
    padding-top: 5px;
    display: inline-block;
    vertical-align: top;
}

#leftbar {
    position: absolute;
    top: 35px;
    bottom: 0;
    left: 0;
    width: 50px;
    padding: 5px;
    text-align: center;
    cursor: default;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#add-workspace {
    position: absolute;
    top: 0;
    width: 50px;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    vertical-align: middle;
    line-height: 50px;
}

#add-workspace:hover {
    color: WhiteSmoke;
    background-color: grey;
    border-radius: 3px;
}

#dashboard {
    position: absolute;
    width: 50px;
    top: 50px;
}

#myboards {
    position: absolute;
    width: 50px;
    bottom: 55px;
}

#board {
    position: absolute;
    bottom: 5px;
    height: 50px;
    width: 50px;
    font-size: 47px;
    vertical-align: middle;
    line-height: 50px;
}

#board:hover {
    color: WhiteSmoke;
    background-color: grey;
    border-radius: 3px;
}

#content {
    position: absolute;
    top: 35px;
    bottom: 0;
    left: 60px;
    right: 0;
}