.loading {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading:first-child {
    flex-shrink: 1;
}

.loading:last-child {
    flex-shrink: 0;
}

.loading .spinner {
    max-width: 40px;
    max-height: 40px;
}

.spinner {
    margin: auto;
    display: block;
    fill: none;
    stroke-width: 12
}

.spinner circle {
    stroke: white;
}

.spinner .bar {
    stroke: grey;
    opacity: 1;
    transform-origin: center center;
    animation: baranim 0.7s infinite linear;
    stroke-dasharray: 100 1000
}

@keyframes baranim {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}