.pagenav>span:first-child {
    margin-right: 5px;
}

.pagenav>span:last-child {
    margin-left: 5px;
}

.pagenav-active {
    cursor: default;
}

.pagenav-active:hover {
    color: black;
}

.pagenav-inactive {
    color: lightgrey;
}