.browser {
    display: flex;
    height: 100%;
    flex-direction: column;
    overflow: hidden;
}

.browser>div:first-child {
    display: flex;
    margin: 2px;
    white-space: nowrap;
    flex-shrink: 0;
}

.browser>div>span:nth-child(2) {
    border: 1px solid;
    padding: 1px;
    flex-grow: 1;
    overflow: hidden;
}

.browser>div svg {
    height: 18px;
    margin-top: 2px;
}

.browser>div:last-child {
    flex-grow: 1;
    display: flex;
    min-height: 0;
}

.browser iframe {
    flex-grow: 1;
    border: none;
}
