.debugger-root {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.debugger-header {
    display: flex;
    height: 30px;
}

.debugger-header .spinner {
    display: inline-block;
    height: 20px;
    width: 30px;
}

.debugger-header>button {
    position: relative;
    border: none;
    background-color: whitesmoke;
    outline: 0;
}

.debugger-header>button>svg {
    height: 19px;
}

.debugger-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.debugger-start {
    color: #12bc00;
}

.debugger-start:hover {
    background-color: lightgrey;
}

.debugger-stop {
    color: #cc0000;
}

.debugger-stop:hover {
    background-color: lightgrey;
}

.debugger-stepover:hover {
    background-color: lightgrey;
}

.debugger-stepinto:hover {
    background-color: lightgrey;
}

.debugger-stepout:hover {
    background-color: lightgrey;
}

.debugger-reset:hover {
    background-color: lightgrey;
}

.debugger-header>button .tooltip {
    visibility: hidden;
    position: absolute;
    z-index: 9;
    top: 100%;
    left: 0;
    background-color: whitesmoke;
    color: grey;
    padding: 3px;
    min-width: 100px;
    text-align: left;
    white-space: nowrap;
}

.debugger-header>button:hover .tooltip {
    visibility: visible;
    opacity: 1;
    transition-delay: 0.5s;
}

.debugger-console {
    position: absolute;
    top: 30px;
    bottom: 0;
    width: 100%;
}
