#editor {
    position: absolute;
    height: 100%;
    width: 100%;
}

.ace_gutter-cell.ace_breakpoint {
    border-radius: 20px 0 0 20px;
    box-shadow: 0 0 1px 1px red inset;
}

.debugger-highlight {
    position: absolute;
    background-color: green;
    opacity: 0.5;
}
