.ide {
}

#ide-tree {
    position: absolute;
    width: 240px;
    top: 0;
    bottom: 0;
}

#ide-tree-tabs {
    height: 32px;
    background-color: WhiteSmoke;
    font: 15px Tahoma, Arial;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    overflow: hidden;
    white-space: nowrap;
}

#ide-tree-content {
    position: absolute;
    top: 31px;
    bottom: 0;
    width: 100%;
}

#ide-left-sizer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 235px;
    width: 5px;
    z-index: 1;
    cursor: col-resize;
}

#ide-middle {
    position: absolute;
    left: 240px;
    right: 0;
    height: 100%;
}

.ide-pane {
    overflow: hidden;
}

.ide-pane:first-child>.ide-subpane:first-child .ide-subpane-tabs:first-child {
    position: absolute;
    left: -3px;
}

.ide-pane-sizer {
    height: 5px;
    width: 100%;
    border-top: solid 1px #cfcfcf;
    z-index: 1;
    cursor: row-resize;
}

.ide-subpane {
    position: relative;
    display: inline-block;
    height: 100%;
    vertical-align: top;
}

.ide-subpane-drag {
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: 20;
    display: none;
}

.ide-subpane-drag>div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 32px;
    text-align: center;
}

.ide-subpane-hdr {
    position: relative;
    height: 36px;
}

.ide-subpane-tabs {
    padding-left: 3px;
}

.ide-subpane-head {
    position: absolute;
    top: 31px;
    height: 4px;
    width: 100%;
    background-color: #ebebeb;
    border-top: solid 1px #cfcfcf;
}

.ide-subpane-content {
    position: relative;
    height: calc(100% - 37px);
    width: 100%;
}

.ide-subpane-sizer {
    position: relative;
    display: inline-block;
    width: 6px;
    top: 31px;
    height: calc(100% - 31px);
    border-top: 1px solid #cfcfcf;
    cursor: col-resize;
    z-index: 1;
    background-color: #ebebeb;
}

#ide-modal {
}
