.modal {
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 10px;
    border: 1px solid #888;
    width: 300px;
    overflow: auto;
}

.modal-content form {
    overflow: auto;
    margin: 10px;
}

.modal-content label {
    font-weight: bold;
}

.modal-content input {
    margin-top: 10px;
    margin-bottom: 20px;
}

.modal-content button {
    float: right;
}

.modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
