#output {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#output-bar {
    height: 21px;
}

#output-term {
    position: absolute;
    top: 21px;
    bottom: 0;
    width: 100%;
}