#remote {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#remote-bar {
    height: 21px;
    float: right;
}

.remote-bar-item {
    border-width: 1px;
    margin-left: 10px;
    display: inline-block;
}

#remote-bar-status {
    padding: 1px;
}

#remote-term {
    position: absolute;
    top: 21px;
    bottom: 0;
    width: 100%;
}