.tabs {
    height: 32px;
    background-color: WhiteSmoke;
    font: 15px Tahoma, Arial;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    overflow: hidden;
    white-space: nowrap;
}

.tabs-tab {
    cursor: default;
    color: grey;
    position: relative;
    left: -1;
    height: 25px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 25px;
    display: inline-block;
    z-index: 10;
}

.tabs-tab:hover {
    background-color: #ebebeb;
}

.tabs-tab-dot {
    padding-left: 8px;
}

.tabs-tab-dot-saved {
    color: lightgrey;
}

.tabs-tab-dot-unsaved {
    color: red;
}

.tabs-tab-x {
    color: grey;
    position: absolute;
    top: 2px;
    right: 4px;
    font-size: 15px;
    width: 17px;
    height: 17px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    border-radius: 0.2em;
    line-height: 17px;
}

.tabs-tab-x:hover {
    color: #ebebeb;
    background-color: grey;
}

.tabs-tab-selected {
    position: relative;
    background-color: #ebebeb;
    height: 26px;
    z-index: 11;
    border: solid 1px #cfcfcf;
    border-bottom: none;
}

.tabs-pluss {
    cursor: default;
    color: grey;
    position: relative;
    left: -1;
    height: 25px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    z-index: 10;
    font-weight: bold;
}

.tabs-pluss:hover {
    background-color: #ebebeb;
}
