.tree {
    position: absolute;
    background-color: white;
    border: solid 1px #cfcfcf;
    padding: 10px;
    width: calc(100% - 22px);
    top: 0;
    bottom: 0;
    font-size: 15px;
    color: grey;
    overflow-y: auto;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.tree div{
    border-radius: 2px;
    cursor:default;
    overflow: hidden;
    white-space: nowrap;
}

.tree div span:first-child{
    display: inline-block;
    width: 30px;
    height: 25px;
    vertical-align: middle;
    text-align: right;
    padding-right:2px;
    line-height: 25px;
}

.tree div span:nth-child(2){
    font: 20px Tahoma, Arial;
    height: 25px;
    width:22px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding-right:5px;
    line-height: 25px;
}

.tree div.selected{
    background-color: WhiteSmoke;
}

.tree div:hover{
    background-color: PowderBlue;
}

.tree svg {
    height: 20px;
}