.tree-tabs-tab {
    cursor: default;
    color: grey;
    position: relative;
    left: 0;
    height: 26px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
}

.tree-tabs-tab:hover {
    background-color: #ebebeb;
}

.tree-tabs-tab-selected {
    cursor: default;
    color: grey;
    position: relative;
    background-color: white;
    left: 0;
    height: 27px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    z-index: 1;
    border: solid 1px #cfcfcf;
    border-bottom: none;
}
