.ttn-root {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
}

.ttn-header {
    display: flex;
    flex-direction: row;
    min-height: 140px;
}

.ttn-logo {
    position: relative;
    right: 5px;
    top: 5px;
    float: right;
}

.ttn-logo img {
    height: 100px;
}

.ttn-info {
    margin-left: 5px;
    margin-bottom: 5px;
    flex-grow: 1;
}

.ttn-info>div {
    white-space: nowrap;
}

.ttn-info>div:nth-child(n+1):nth-child(-n+3) {
    margin-top: 10px;
}

.ttn-info>div>span:first-child {
    display: inline-block;
    width: 150px;
    text-align: right;
}

.ttn-info>div:nth-child(n+1):nth-child(-n+2)>span:first-child {
    font-weight: bold;
}

.ttn-info>div>span:nth-child(2) {
    margin-left: 10px;
}

.ttn-info button {
    padding: 0;
    margin-left: 5px;
}

.ttn-content {
    display: flex;
    flex-grow: 1;
}

.ttn-select-app {
    margin: 10px;
    width: calc(100% - 20px);
    max-width: 600px;
}

.ttn-select-app div:first-child {
    font-weight: bold;
}

.ttn-select-app input {
    width: 100%;
    margin-top: 10px;
}

.ttn-select-app button {
    width: 100%;
    margin-top: 20px;
}

.ttn-select-app div:last-child {
    margin-top: 30px;
}

.ttn-select-app-error {
    margin-top: 10px;
    color: red;
}

.ttn-dev {
    width: 100%;
}

.ttn-dev-list {
    margin: 10px;
    width: calc(100% - 20px);
    max-width: 600px;
}

.ttn-dev-list>div:first-child {
    font-weight: bold;
    width: 100%;
}

.ttn-dev-list>div:first-child>span {
    float: right;
}

.ttn-dev-list-devs {
    width: calc(100% - 10px);
    display: inline-block;
    background-color: white;
    padding: 5px;
}

.ttn-dev-list-devs div {
    cursor: default;
}

.ttn-dev-list-devs div:hover {
    background-color: PowderBlue;
}

.ttn-dev-list-devs div span:first-child {
    width: 100px;
    font-weight: bold;
    display: inline-block;
}

.ttn-dev-list-devs div span:nth-child(2) {
    margin-left: 10px;
    display: inline-block;
}

.ttn-dev-list-devs div span:last-child {
    margin-left: 10px;
    float: right;
}

.ttn-dev-add {
    margin: 30px 10px;
    width: calc(100% - 20px);
    max-width: 600px;
}

.ttn-dev-add>div {
    width: 100%;
}

.ttn-dev-add>div:first-child {
    font-weight: bold;
}

.ttn-device {
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-template-rows: auto auto 1fr;
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
    grid-gap: 10px;
}

.ttn-device>div:nth-child(n+1):nth-child(-n+3) {
    font-weight: bold;
}

.ttn-device>div>button {
    margin-left: 10px;
}

.ttn-device-downlink>div:first-child {
    font-weight: bold;
}

.ttn-device-uplink {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow: auto;
}

.ttn-device-uplink>div:first-child {
    font-weight: bold;
}

.ttn-device-uplink>div:last-child {
    background-color: white;
    padding: 5px;
    overflow: auto;
    flex-grow: 1;
}

.ttn-device-uplink-item {
    display: flex;
    white-space: nowrap;
}

.ttn-device-uplink-item:hover {
    background-color: PowderBlue;
}

.ttn-device-uplink-item>span:first-child {
    width: 80px;
}

.ttn-device-uplink-item>span:nth-child(2) {
    width: 80px;
}

.ttn-device-uplink-item>span:nth-child(3) {
    width: 40px;
}

.ttn-device-uplink-item>span:last-child {
    min-width: 100px;
    flex-grow: 1;
}

.ttn-device-db {
    justify-self: center;
    align-self: center;
    white-space: nowrap;
}

.ttn-device-www {
    align-self: center;
}
